<div class="pt-12 flex flex-col gap-5">
    <img [src]="image" alt="" class="w-full max-h-60">

    <div class="p-3 bg-gray-100">
        <div class="font-semibold">Proverbe du jour</div>
        <div>L'oiseau sur le baobab ne doit pas oublié qu'il a porté des lunettes.</div>
    </div>

    <div class="mt-6">
        <div class="uppercase font-black text-gray-950/30">Catégories</div>
        <div class="flex flex-wrap gap-3">
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Rap mali</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Football</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Football</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Basketball</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Basketball</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Webinar</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Webinar</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Formation</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Formation</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Apprentissage</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Apprentissage</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Etudes</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Actualités</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Voyage</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Blog</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Artistes</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Transition</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Ordinateurs</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Programmation</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Logiciel</div>
        </div>
    </div>

    <div class="mt-6">
        <div class="uppercase  font-black text-gray-950/30">Les plus visités</div>
        <div class="flex flex-col gap-1">
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Concert de Sidiki Diabaté</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>12/03/2024</div>
                    <div>Palais de la culture</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Salon d'emploi</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div>CICB</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <div class="uppercase  font-black text-gray-950/30">Evénements à vénir</div>
        <div class="flex flex-col gap-1">
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Concert de Sidiki Diabaté</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>12/03/2024</div>
                    <div>Palais de la culture</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Concert de Fally</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>12/03/2024</div>
                    <div>26 Mars</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Salon d'emploi</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div>CICB</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">KS Bloom au Mali</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div>CICB</div>
                </div>
            </div>
        </div>
    </div>

</div>