<div class="pt-4 flex flex-col gap-5">
    <!-- <img [src]="image" alt="" class="w-full max-h-60"> -->

    <div>
        <div class="uppercase font-black text-gray-950/30">Filter vos formations</div>


        <div class="flex flex-col gap-3">
            <div>
                <div class=" font-black text-gray-950/30 text-xs">Niveau de formation</div>
                <div class="flex flex-wrap gap-3 ">
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Débutant</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">intermediaire
                    </div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Avancé</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Expert</div>
                </div>
            </div>

            <div>
                <div class=" font-black text-gray-950/30  text-xs">Type de formation</div>
                <div class="flex flex-wrap gap-3">
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Gratuite</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Payante</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Certiticante
                    </div>
                </div>
            </div>

            <div>
                <div class=" font-black text-gray-950/30  text-xs">Organisations</div>
                <div class="flex flex-wrap gap-3">
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Holicorp</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Logineo</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Cacoges</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Holibreak</div>
                    <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Holihub</div>
                </div>
            </div>


        </div>
    </div>



    <div class="mt-6">
        <div class="uppercase font-black text-gray-950/30">Catégories</div>
        <div class="flex flex-wrap gap-3">
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Rap mali</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Football</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Football</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Basketball</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Basketball</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Webinar</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Webinar</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Formation</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Formation</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Apprentissage</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Apprentissage</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Etudes</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Actualités</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Voyage</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Blog</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Artistes</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Transition</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Ordinateurs</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Programmation</div>
            <div class="underline cursor-pointer text-[13px] text-amber-900/50 hover:opacity-75">Logiciel</div>
        </div>
    </div>

    <div class="mt-6">
        <div class="uppercase  font-black text-gray-950/30">Recemment consultées</div>
        <div class="flex flex-col gap-1">
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Les avantages du chiffrement homomorphe dans un millieu de cyptographie</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>12/03/2024</div>
                    <div class="text-blue-500">poursuivre..</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Apprendre à concevoir une application mobile en utilisant le langage flutter
                </div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div class="text-blue-500">poursuivre..</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Apprendre à concevoir une application mobile en utilisant le langage flutter
                </div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div class="text-blue-500">poursuivre..</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <div class="uppercase  font-black text-gray-950/30">Les plus visitées</div>
        <div class="flex flex-col gap-1">
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Developpement d'application web utilisant angular et spring boot</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>Gratuite</div>
                    <div class="text-blue-500">commencer</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Apprendre le MERN Stack</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>Payante (2.500 FCFA)</div>
                    <div class="text-blue-500">commencer</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <div class="uppercase  font-black text-gray-950/30">Formations à vénir</div>
        <div class="flex flex-col gap-1">
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Conception de drone militaire</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>12/03/2024</div>
                    <div class="text-orange-500">En savoir plus</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Accelaration d'execution du chiffrement homomorphe sur du matériel FPGA</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>12/03/2024</div>
                    <div class="text-orange-500">En savoir plus</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Apprendre à installer le kit panneau solaire</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div class="text-orange-500">En savoir plus</div>
                </div>
            </div>
            <div class="p-2 bg-gray-100">
                <div class="font-medium">Importance du sport dans la vie</div>
                <div class="text-[12px] flex items-center justify-between italic text-amber-950/75">
                    <div>04/01/2024</div>
                    <div class="text-orange-500">En savoir plus</div>
                </div>
            </div>
        </div>
    </div>

</div>