<div class="px-100 pt-10 flex flex-col  gap-10 mb-10">
    <img [src]="image" alt="" class="w-full h-140 object-cover">
    <div>
        <div class="mb-8">
            <div>
                <div class="text-2xl uppercase">La conférence de presse pour informatique</div>
                <div>publié le 14/05/2025</div>
                <div>à Bamako - Mali</div>
            </div>

            <div class="flex items-center gap-2 mt-1">
                <div class="bg-amber-300/75 text-white rounded font-black p-2 py-1 text-center">Musique</div>
                <div class="bg-amber-300/75 text-white rounded font-black p-2 py-1 text-center">Artiste</div>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo!
                Illum
                officiis dolores omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
            </div>
            <div class="text-justify">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis
                dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis
                dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis
                dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis
                dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui nemo! Illum officiis
                dolores
                omnis
                libero ipsum deserunt quae quidem consectetur animi quibusdam, facere a distinctio dolore recusandae
                maxime
                quis.
            </div>
        </div>

        <div class="mt-6">
            <div class="uppercase text-xl mb-4">Article similaire</div>
            <div class="flex items-start justify-between gap-5">
                <div class="w-50">
                    <img [src]="image" alt="" class="h-60 w-50 object-cover rounded">
                    <div class="truncate">Concert chorale de Magnambougou</div>
                </div>

                <div class="w-50">
                    <img [src]="image" alt="" class="h-60 w-50 object-cover rounded">
                    <div class="truncate">Concert chorale de Magnambougou</div>
                </div>

                <div class="w-50">
                    <img [src]="image" alt="" class="h-60 w-50 object-cover rounded">
                    <div class="truncate">Concert chorale de Magnambougou</div>
                </div>

                <div class="w-50">
                    <img [src]="image" alt="" class="h-60 w-50 object-cover rounded">
                    <div class="truncate">Concert chorale de Magnambougou</div>
                </div>

                <div class="w-50">
                    <img [src]="image" alt="" class="h-60 w-50 object-cover rounded">
                    <div class="truncate">Concert chorale de Magnambougou</div>
                </div>

            </div>
        </div>

        <div class="mt-20">
            <div class="text-2xl uppercase mb-4">Commentaires</div>
            <div class="mb-10">
                <textarea name="" id=""
                    class="w-full h-50 border-1 outline-0 border-gray-950/20 rounded resize-none p-4"
                    placeholder="Ecriver quelque chose.."></textarea>
                <div class="flex items-center">
                    <div class="p-2 px-15 text-white font-bold bg-amber-500 rounded cursor-pointer">Commenter</div>
                </div>
            </div>

            <div class="flex flex-col gap-3">
                <div class="p-3 bg-gray-100  rounded">
                    <div class="flex gap-3">
                        <div><img [src]="image" alt="" class="w-12 h-12 rounded-full object-cover"></div>
                        <div>
                            <div>Akougnon P. DOLO</div>
                            <div class="italic text-xs">14/05/2025</div>
                        </div>
                    </div>
                    <div class="p-5 py-3 text-justify">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                        necessitatibus
                        tempore
                        molestiae iusto similique architecto aut exercitationem facilis debitis mollitia vel fugiat enim
                        et,
                        laboriosam aliquid alias nisi sapiente maiores?</div>
                </div>

                <div class="p-3 bg-gray-100 rounded">
                    <div class="flex gap-3">
                        <div><img [src]="image" alt="" class="w-12 h-12 rounded-full object-cover"></div>
                        <div>
                            <div>Akougnon P. DOLO</div>
                            <div class="italic text-xs">14/05/2025</div>
                        </div>
                    </div>
                    <div class="p-5 py-3 text-justify">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                        necessitatibus
                        tempore
                        molestiae iusto similique architecto aut exercitationem facilis debitis mollitia vel fugiat enim
                        et,
                        laboriosam aliquid alias nisi sapiente maiores?</div>
                </div>
            </div>
        </div>
    </div>
</div>