<div>
    <div class="uppercase text-2xl mb-4 font-bold text-gray-950/50">Evenements en cours..</div>

    <div class="flex flex-col gap-5">
        <div [routerLink]="['/details']" class="cursor-pointer">
            <img [src]="img" alt="" class="max-h-50 w-full object-cover">
            <div class="bg-gray-100 p-2">
                <div class="uppercase  text-xl mb-2">News Story of the day ok</div>
                <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                <div class="flex flex-col mb-3">
                    <small>publié le 12/05/2025</small>
                    <div>Bamako - Mali</div>
                </div>
                <div class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
                    nesciunt
                    porro voluptatum
                    tempora
                    amet
                    necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est laboriosam
                    sed
                    repudiandae eveniet! Officiis, id?</div>
                <div class="mt-2.5">Lire plus..</div>
            </div>
        </div>

        <div [routerLink]="['/details']" class="cursor-pointer">
            <img [src]="img1" alt="" class="max-h-50 w-full object-cover">
            <div class="bg-gray-100 p-2">
                <div class="uppercase  text-xl mb-2">News Story of the day</div>
                <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                <div class="flex flex-col mb-3">
                    <small>publié le 12/05/2025</small>
                    <div>Bamako - Mali</div>
                </div>
                <div class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
                    nesciunt
                    porro voluptatum
                    tempora
                    amet
                    necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est laboriosam
                    sed
                    repudiandae eveniet! Officiis, id?</div>
                <div class="mt-2.5">Lire plus..</div>
            </div>
        </div>
    </div>
</div>

<div class="mt-10">
    <div class="uppercase text-2xl mb-4 font-bold text-gray-950/50">Evenements récents</div>

    <div class="flex flex-col gap-5">
        <div [routerLink]="['/details']" class="cursor-pointer">
            <img [src]="img2" alt="" class="max-h-50 w-full object-cover">
            <div class="bg-gray-100 p-2">
                <div class="uppercase  text-xl mb-2">News Story of the day</div>
                <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                <div class="flex flex-col mb-3">
                    <small>publié le 12/05/2025</small>
                    <div>Bamako - Mali</div>
                </div>
                <div class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
                    nesciunt
                    porro voluptatum
                    tempora
                    amet
                    necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est laboriosam
                    sed
                    repudiandae eveniet! Officiis, id?</div>
                <div class="mt-2.5">Lire plus..</div>
            </div>
        </div>

        <div [routerLink]="['/details']" class="cursor-pointer">
            <div class="bg-gray-100 p-2">
                <div class="flex items-start gap-3">
                    <img [src]="img6" alt="" class="max-w-50 max-h-50  object-cover">
                    <div>
                        <div class="uppercase  text-xl mb-2">News Story of the day</div>
                        <div class="flex flex-col mb-3">
                            <small>publié le 12/05/2025</small>
                            <div>Bamako - Mali</div>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                    <div class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
                        nesciunt
                        porro voluptatum
                        tempora
                        amet
                        necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                        laboriosam
                        sed
                        repudiandae eveniet! Officiis, id?</div>
                </div>
                <div class="mt-2.5">Lire plus..</div>
            </div>
        </div>

        <div [routerLink]="['/details']" class="cursor-pointer">
            <img [src]="img3" alt="" class="max-h-50 w-full object-cover">
            <div class="bg-gray-100 p-2">
                <div class="uppercase  text-xl mb-2">News Story of the day</div>
                <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                <div class="flex flex-col mb-3">
                    <small>publié le 12/05/2025</small>
                    <div>Bamako - Mali</div>
                </div>
                <div class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
                    nesciunt
                    porro voluptatum
                    tempora
                    amet
                    necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est laboriosam
                    sed
                    repudiandae eveniet! Officiis, id?</div>
                <div class="mt-2.5">Lire plus..</div>
            </div>
        </div>
    </div>
</div>