<div>
    <div class="h-3"></div>
    <div class="text-2xl text-center mb-4">Progressez à votre rythme grâce à nos formations en ligne, conçues pour vous
        préparer aux
        compétitions et
        renforcer vos compétences.</div>



    <div class="flex flex-col gap-6">
        <div class="cursor-pointer">
            <div class="uppercase text-2xl mb-4 font-bold text-gray-950/50">Formations populaires</div>
            <div class="flex flex-col gap-4">
                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>

                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>

                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="cursor-pointer">
            <div class="uppercase text-2xl mb-4 font-bold text-gray-950/50">Nouveautés</div>
            <div class="flex flex-col gap-4">
                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>

                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>

                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="cursor-pointer">
            <div class="uppercase text-2xl mb-4 font-bold text-gray-950/50">Certifications</div>
            <div class="flex flex-col gap-4">
                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>

                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>

                <div class="bg-gray-100 p-2">
                    <div class="flex items-start gap-3">
                        <img [src]="img6" alt="" class="max-w-50 max-h-40 h-40  object-cover">
                        <div class="flex items-start justify-between  w-full gap-2">
                            <div class="flex flex-col flex-1">
                                <div class="uppercase  text-xl mb-2">Apprendre à developper en angular et spring boot
                                </div>
                                <div class="flex flex-col mb-3">
                                    <small>publié le 12/05/2025</small>
                                    <div>Bamako - Mali</div>
                                    <div>Niveau intermediaire</div>
                                    <div>Du 03/05/2025 au 24/08/2025</div>
                                </div>
                            </div>
                            <div class="p-1.5 bg-amber-600 text-white">Commencer</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="text-red-500">25.000 FCFA</div>
                        <div class="font-semibold mb-1">Weston goes into showbusiness</div>
                        <div class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Reprehenderit
                            nesciunt
                            porro voluptatum
                            tempora
                            amet
                            necessitatibus laborum impedit, dolor perferendis nostrum deserunt molestiae neque est
                            laboriosam
                            sed
                            repudiandae eveniet! Officiis, id? <strong>...lire la suite</strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>